<?xml version="1.0" encoding="UTF-8"?>
<root version="1.0">
  <ServiceItem
     ServiceName="WebActionService"
     ServiceAssembly="Hoteam.InforCenter.Common.DataService.dll"
     ServiceClass="Hoteam.InforCenter.Common.DataService.WebAction.Service.WebActionService"
     ContractAssembly="Hoteam.InforCenter.Common.DataService.dll"
     ContractClass="Hoteam.InforCenter.Common.DataService.WebAction.Service.IWebActionService"/>
  <ServiceItem
    ServiceName="OrganizationDataService"
    ServiceAssembly="Hoteam.InforCenter.Organization.DataService.dll"
    ServiceClass="Hoteam.InforCenter.Organization.DataService.Service.OrganizationDataService"
    ContractAssembly="Hoteam.InforCenter.Organization.DataService.dll"
    ContractClass="Hoteam.InforCenter.Organization.DataService.Service.IOrganizationDataService"/>
  <ServiceItem
    ServiceName="WebTreeViewService"
    ServiceAssembly="Hoteam.InforCenter.Common.DataService.dll"
    ServiceClass="Hoteam.InforCenter.Common.DataService.TreeView.Service.WebTreeViewService"
    ContractAssembly="Hoteam.InforCenter.Common.DataService.dll"
    ContractClass="Hoteam.InforCenter.Common.DataService.TreeView.Service.IWebTreeViewService"/>
  <ServiceItem
    ServiceName="WebTreeListViewService"
    ServiceAssembly="Hoteam.InforCenter.Common.DataService.dll"
    ServiceClass="Hoteam.InforCenter.Common.DataService.TreeListView.Service.WebTreeListViewService"
    ContractAssembly="Hoteam.InforCenter.Common.DataService.dll"
    ContractClass="Hoteam.InforCenter.Common.DataService.TreeListView.Service.IWebTreeListViewService"/>
  <ServiceItem
    ServiceName="WebListViewService"
    ServiceAssembly="Hoteam.InforCenter.Common.DataService.dll"
    ServiceClass="Hoteam.InforCenter.Common.DataService.ListView.Service.WebListViewService"
    ContractAssembly="Hoteam.InforCenter.Common.DataService.dll"
    ContractClass="Hoteam.InforCenter.Common.DataService.ListView.Service.IWebListViewService"/>
  <ServiceItem
  ServiceName="FilterListViewService"
  ServiceAssembly="Hoteam.InforCenter.Common.DataService.dll"
  ServiceClass="Hoteam.InforCenter.Common.DataService.FilterListView.Service.FilterListViewService"
  ContractAssembly="Hoteam.InforCenter.Common.DataService.dll"
  ContractClass="Hoteam.InforCenter.Common.DataService.FilterListView.Service.IFilterListViewService"/>
  <ServiceItem
    ServiceName="EditWebListViewService"
    ServiceAssembly="Hoteam.InforCenter.Common.DataService.dll"
    ServiceClass="Hoteam.InforCenter.Common.DataService.EditListView.Service.EditWebListViewService"
    ContractAssembly="Hoteam.InforCenter.Common.DataService.dll"
    ContractClass="Hoteam.InforCenter.Common.DataService.EditListView.Service.IEditWebListViewService"/>
  <ServiceItem
    ServiceName="ObjectService"
    ServiceAssembly="Hoteam.InforCenter.Common.DataService.dll"
    ServiceClass="Hoteam.InforCenter.Common.DataService.Object.ObjectService"
    ContractAssembly="Hoteam.InforCenter.Common.DataService.dll"
    ContractClass="Hoteam.InforCenter.Common.DataService.Object.IObjectService"/>
  <ServiceItem
    ServiceName="EnumerationService"
    ServiceAssembly="Hoteam.InforCenter.Enumeration.Service.dll"
    ServiceClass="Hoteam.InforCenter.Enumeration.Service.EnumerationService"
    ContractAssembly="Hoteam.InforCenter.Enumeration.Service.dll"
    ContractClass="Hoteam.InforCenter.Enumeration.Service.IEnumerationService"/>
  <ServiceItem
    ServiceName="CacheService"
    ServiceAssembly="Hoteam.InforCenter.Common.Cache.dll"
    ServiceClass="Hoteam.InforCenter.Common.Cache.Service.CacheService"
    ContractAssembly="Hoteam.InforCenter.Common.Cache.dll"
    ContractClass="Hoteam.InforCenter.Common.Cache.Service.ICacheService"/>
  <ServiceItem
      ServiceName="RuleDataService"
      ServiceAssembly="Hoteam.InforCenter.Rule.RuleService.dll"
      ServiceClass="Hoteam.InforCenter.Rule.RuleService.Service.RuleDataService"
      ContractAssembly="Hoteam.InforCenter.Rule.RuleService.dll"
      ContractClass="Hoteam.InforCenter.Rule.RuleService.Service.IRuleDataService"/>
  <ServiceItem
      ServiceName="RulePageService"
      ServiceAssembly="Hoteam.InforCenter.Rule.PageService.dll"
      ServiceClass="Hoteam.InforCenter.Rule.PageService.Service.RulePageService"
      ContractAssembly="Hoteam.InforCenter.Rule.PageService.dll"
      ContractClass="Hoteam.InforCenter.Rule.PageService.Service.IRulePageService"/>

  <!--<ServiceItem
     ServiceName="CommunicationService"
     ServiceAssembly="Hoteam.InforCenter.Common.Communication.dll"
     ServiceClass="Hoteam.InforCenter.Common.Communication.Service.CommunicationService"
     ContractAssembly="Hoteam.InforCenter.Common.Communication.dll"
     ContractClass="Hoteam.InforCenter.Common.Communication.Service.ICommunicationService"/>-->
  <ServiceItem
     ServiceName="CommunicationService"
     ServiceAssembly="Hoteam.InforCenter.InternalMail.Service.dll"
     ServiceClass="Hoteam.InforCenter.InternalMail.Service.InternalMailService"
     ContractAssembly="Hoteam.InforCenter.InternalMail.Service.dll"
     ContractClass="Hoteam.InforCenter.InternalMail.Service.IInternalMailService"/>

  <ServiceItem
     ServiceName="OperateLogService"
     ServiceAssembly="Hoteam.InforCenter.Common.OperateLog.dll"
     ServiceClass="Hoteam.InforCenter.Common.OperateLog.Service.OperateLogService"
     ContractAssembly="Hoteam.InforCenter.Common.OperateLog.dll"
  ContractClass="Hoteam.InforCenter.Common.OperateLog.Service.IOperateLogService"/>


  <ServiceItem
   ServiceName="OperateLogServiceExt"
   ServiceAssembly="Hoteam.InforCenter.OperateLog.Service.dll"
   ServiceClass="Hoteam.InforCenter.OperateLog.Service.OperateLogServiceExt"
   ContractAssembly="Hoteam.InforCenter.OperateLog.Service.dll"
ContractClass="Hoteam.InforCenter.OperateLog.Service.IOperateLogServiceExt"/>
  
  
  <ServiceItem
     ServiceName="WorkflowService"
     ServiceAssembly="Hoteam.InforCenter.Workflow.FlowService.dll"
     ServiceClass="Hoteam.InforCenter.Workflow.FlowService.WorkflowService"
     ContractAssembly="Hoteam.InforCenter.Workflow.FlowService.dll"
     ContractClass="Hoteam.InforCenter.Workflow.FlowService.IWorkflowService"/>
  <ServiceItem
    ServiceName="ModulePermisssionService"
    ServiceAssembly="Hoteam.InforCenter.ModulePermission.Business.dll"
    ServiceClass="Hoteam.InforCenter.ModulePermission.Business.Service.ModulePermisssionService"
    ContractAssembly="Hoteam.InforCenter.ModulePermission.Business.dll"
    ContractClass="Hoteam.InforCenter.ModulePermission.Business.Service.IModulePermisssionService"/>
  <ServiceItem
    ServiceName="ReportService"
    ServiceAssembly="Hoteam.InforCenter.Report.Business.dll"
    ServiceClass="Hoteam.InforCenter.Report.Business.Service.ReportService"
    ContractAssembly="Hoteam.InforCenter.Report.Business.dll"
    ContractClass="Hoteam.InforCenter.Report.Business.Service.IReportService"/>
  <ServiceItem
    ServiceName="FileManageService"
    ServiceAssembly="Hoteam.InforCenter.FileManage.Business"
    ServiceClass="Hoteam.InforCenter.FileManage.Business.Service.FileManageService"
    ContractAssembly="Hoteam.InforCenter.FileManage.Business"
    ContractClass="Hoteam.InforCenter.FileManage.Business.Service.IFileManageService"/>
  <ServiceItem
   ServiceName="WorkflowTemplateService"
   ServiceAssembly="Hoteam.InforCenter.Workflow.WebDesigner.dll"
   ServiceClass="Hoteam.InforCenter.Workflow.WebDesigner.WorkflowTemplateService"
   ContractAssembly="Hoteam.InforCenter.Workflow.WebDesigner.dll"
   ContractClass="Hoteam.InforCenter.Workflow.WebDesigner.IWorkflowTemplateService"/>
  <ServiceItem
    ServiceName="WorkflowTemplateExtendService"
    ServiceAssembly="Hoteam.InforCenter.Workflow.Extend.dll"
    ServiceClass="Hoteam.InforCenter.Workflow.Extend.WorkflowTemplateExtendService"
    ContractAssembly="Hoteam.InforCenter.Workflow.Extend.dll"
    ContractClass="Hoteam.InforCenter.Workflow.Extend.IWorkflowTemplateExtendService"/>
  <ServiceItem
    ServiceName="IntervalService"
    ServiceAssembly="Hoteam.InforCenter.Interval.Business.dll"
    ServiceClass="Hoteam.InforCenter.Interval.Business.Service.IntervalService"
    ContractAssembly="Hoteam.InforCenter.Interval.Business.dll"
    ContractClass="Hoteam.InforCenter.Interval.Business.Service.IIntervalService"/>
  <ServiceItem
    ServiceName="LifeCycleService"
    ServiceAssembly="Hoteam.InforCenter.LifeCycle.Service.dll"
    ServiceClass="Hoteam.InforCenter.LifeCycle.Service.LifeCycleService"
    ContractAssembly="Hoteam.InforCenter.LifeCycle.Service.dll"
    ContractClass="Hoteam.InforCenter.LifeCycle.Service.ILifeCycleService"/>
</root>
