body
{
    font-family: 微软雅黑, 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:16px;
}
.step-img
{
    margin:65px auto 0 auto;
    height:32px;
    width:645px;
    background:url(../image/2.png) no-repeat;
}
.input-c
{
    height: 40px;
    width: 335px;
    margin: 25px auto 0 auto;
    position: relative;
}
.reset-password-input
{
    border:1px solid #ccc;
    height:40px;
    width:305px;
    line-height:40px;
    padding:0 15px;
    border-radius:4px;
    font-size:16px;
}
.reset-password-input-focus
{
    border:1px solid #408cdf;
    outline:none;
}
.reset-password-placeholder
{
    position: absolute;
    top: 12px;
    left: 16px;
    color:#b7babf;
    font-size:14px;
}
.step-img-title
{
    width:645px;
    margin:10px auto 55px auto;
}
.reset-password-verimg
{
    width:88px;
    height:40px;
    vertical-align:bottom;
    cursor:pointer;
}
.next-btn
{
    background-color:#0090ff;
    width:335px;
    margin:30px auto 0 auto;
    border-radius:4px;
    line-height:40px;
    height:40px;
    text-align:center;
    color:#fff;
    cursor:pointer;
}
.reset-password-error
{
    color:Red;
    font-size:14px;
    display:none;
}
.get-ver-num
{
    display:inline-block;
    height: 40px;
    width:115px;
    cursor:pointer;
    text-align:center;
    line-height:40px;
    font-size:12px;
    border:1px solid #ccc;
    border-radius:4px;
}
.step-img-title span.one-sp
{
    display: inline-block;
    margin: 0 50px;
}
.step-img-title span.second-sp
{
    display: inline-block;
    margin: 0 40px;
}
.step-img-title span.third-sp
{
    display: inline-block;
    margin: 0 34px;
}
.step-img-title span.four-sp
{
    display: inline-block;
    margin: 0 60px;
}
.reset-password-succuss-c
{
    width: 425px;
    margin: 0px auto 0 auto;
    height: 53px;
    line-height: 53px;
}
.reset-password-succuss-img
{
    vertical-align: middle;
}
.reset-password-login
{
    color:#0097ff;
    cursor:pointer;
}