<%-- 
Name:
Author: 
Description: 生成WCF服务类的模板
--%>
<%@ CodeTemplate Language="C#" TargetLanguage="C#" Src="" Inherits="" Debug="False" Description="Template description here." %>
<%@ Property Name="NameSpace" Type="System.String" Default="" Optional="True" Category="" Description="" %>
<%@ Property Name="ClassName" Type="System.String" Default="" Optional="True" Category="" Description="" %>
#region
using System;
using System.Collections.Generic;
using System.Linq;
using System.Runtime.Serialization;
using System.ServiceModel;
using System.Text;
#endregion

namespace  <%=NameSpace%>
{
    public class <%=ClassName%> : I<%=ClassName%>
    {
	    public void DoWork()
        {
        }
	}
}
