<?xml version="1.0" encoding="utf-8"?>
<root xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <ServiceItem ServiceName="CommandServiceManagementService" 
               ServiceAssembly="Hoteam.InforCenter.CommandService.Service.dll" 
               ServiceClass="Hoteam.InforCenter.CommandService.Service.CommandServiceManagementService" 
               ContractAssembly="Hoteam.InforCenter.CommandService.Service.dll" 
               ContractClass="Hoteam.InforCenter.CommandService.Service.ICommandServiceManagementService" />
</root>