<?xml version="1.0" encoding="utf-8"?>
<root xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<ServiceItem ServiceName="CommonService" ServiceAssembly="Hoteam.GACTT.Common.Service.dll"
				 ServiceClass="Hoteam.GACTT.Common.Service.CommonService"
				 ContractAssembly="Hoteam.GACTT.Common.Service.dll"
				 ContractClass="Hoteam.GACTT.Common.Service.ICommonService" />
</root>