<?xml version="1.0" encoding="utf-8"?>
<root xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <ServiceItem ServiceName="ThreeRoleAuthPlatformService" 
               ServiceAssembly="Hoteam.InforCenter.ThreeRoleAuthPlatform.Service.dll" 
               ServiceClass="Hoteam.InforCenter.ThreeRoleAuthPlatform.Service.ThreeRoleAuthPlatformService" 
               ContractAssembly="Hoteam.InforCenter.ThreeRoleAuthPlatform.Service.dll" 
               ContractClass="Hoteam.InforCenter.ThreeRoleAuthPlatform.Service.IThreeRoleAuthPlatformService" />
</root>